
<div class="about" ng-init="catchAnchor()">
    
  <div class="jumbotron section first-hero" id="first-hero-about">
    <h1>About ITN</h1>
  </div>


  <div class="jumbotron section" id="why">
    <div class="container">
      Why
    </div>
  </div>

  <div class="jumbotron section" id="history">
    <div class="container">
      History
    </div>
  </div>

  <div class="jumbotron section" id="mission">
    <div class="container">
      Mission
    </div>
  </div>

  <div class="jumbotron section" id="board">
    <div class="container">
      Board
    </div>
  </div>

  <div class="jumbotron section" id="council">
    <div class="container">
      Council
    </div>
  </div>

</div><!--about-->