<div class="affiliate-info portal" ng-init="parseAffiliateNameToList(); getGeneralInfoPerAffiliate(itnAffiliate.name)">
  <div class="container">
    <h2>ITN<em>{{itnAffiliate.name}}</em> ID Card</h2>

    <div class="id-card" style="border:2px solid white;padding:2%;text-align:center">

      <img ng-src=""/><!--file path must be retrieved from backend like fileUpload -->

      <!-- <p>
        <div class="label">Founded in:</div>
        <div class="info">{{generalInfo.founded}}</div>
      </p> -->

      <p>
        <div class="label">Address:</div>
        <div class="info">{{generalInfo.address}}</div>
      </p>

      <p>
        <div class="label">Email:</div>
        <div class="info">{{generalInfo.email}}</div>
      </p>

      <p>
        <div class="label">Phone:</div>
        <div class="info">{{generalInfo.phone}}</div>
      </p>

      <p>
        <div class="label">Fax:</div>
        <div class="info">{{generalInfo.fax}}</div>
      </p>

      <p>
        <div class="label">Official website:</div>
        <div class="info"><a ng-href="{{generalInfo.website}}" target="_blank">{{generalInfo.website}}</a></div>
      </p>

      <p>
        <div class="label">Applications Dashboard:</div>
        <div class="info"><a ng-href="{{generalInfo.dashboard}}" target="_blank">{{generalInfo.dashboard}}</a></div>
      </p>

      <p>
        <div class="label">Employees:</div>
        <div class="info">
          <div class="dropdown ta-center">
            <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown">ITN Employees
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li ng-repeat="employee in generalInfo.employees">
                <a ng-click="toggleEmployee(employee)" ng-class="{'no-border': $last}">{{employee.firstName}} {{employee.lastName}}</a>
              </li>
            </ul>
          </div>
        </div>
      </p>

      <p>
        <div class="label">Google Analytics Tracking Code:</div>
        <div class="info">{{generalInfo.gaViewCode}}</div>
      </p>

    </div>

  </div>
</div

<div class="back-btn-wrap">
  <a ui-sref="affiliate({filter: itnAffiliate.name})" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ui-sref="portal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>
