<div class="portal affiliates ta-center" ng-init="bindParamToVar('affiliates')">
  <div class="container">
    
    <h2>ITN {{affiliateName}}</h2>

    <div class="row mt-50 mb-25">
      <div class="col-md-6">
        <h5>Official Website</h5>
        <a ng-href="https://www.itn{{affiliateName}}.org" target="_blank">www.itn{{affiliateName | lowercase}}.org</a>
      </div><!--col-md-6-->
      
      <div class="col-md-6 mb-25">
        <h5>Admin Dashboard</h5>
        <h6><em>for accessing membership & volunteer applications</em></h6>
        <h6><em>*Be sure to email support@itnamerica.org if you do not have the login credentials</em></h6>
        
        <a ng-href="https://www.itn{{affiliateName}}.org/login" target="_blank">www.itn{{affiliateName | lowercase}}.org/login</a>
        
        
      </div><!--col-md-6-->
      
    </div><!--row-->
    
    <div class="row mb-25">
      <div class="col-md-6">
        <h5>Monthly Rides Data</h5>
        (api calls to data page)
      </div><!--col-md-6-->
      <div class="col-md-6 mb-25">
        <h5>Website Analytics</h5>

        Check out our <a href="#">Google page</a> for more details about the analytics for this website.
      </div><!--col-md-6-->
    </div><!--row-->
    
    <div class="row mt-25 mb-50">
      <div class="col-md-2"></div>
      
      <div class="col-md-8">
        <h5>Comments</h5>
        (api GET call to website comments)
        (api ADD and DELETE call for website comments)
      </div>
      
      <div class="col-md-2"></div>
    </div><!--row-->


  </div><!--container-->
</div><!--affiliates-->



<div class="back-btn-wrap">
  <a ng-click="openAdditionalPage('affiliateLanding')" ng-hide="showPortal" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ng-click="openAdditionalPage('portal')" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>


<!-- affiliate page


for each affiliate (make page dynamic)

-link to website
-link to dashboard
-rides data
-analytics (embed?)
-comment section (directive?) -->
  
