<div class="affiliate-info portal">
  <div class="container">
    <h2>ITN<em>Test</em> ID Card</h2>
    
    <div class="id-card" style="border:2px solid white;padding:2%;text-align:center">
      <img ng-src=""/><!--file path must be retrieved from backend like fileUpload -->
      
      
    </div>
    
  </div>
</div

<div class="back-btn-wrap">
  <a ui-sref="affiliate({filter: itnAffiliate.name})" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ui-sref="portal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>