<div class="documents portal" ng-init="catchDocFilter();getCommentsPhotoPerAffiliate(docFilter)">
  <div class="container ta-center">
    <h2>ITN<em>{{docFilter}}</em></h2>

    <div class="upload-doc" style="padding:3%">
      <button type="button" class="btn btn-lg" ngf-select="upload($file, docFilter)">Upload a Document</button>
    </div><!--upload-doc-->

    <div class="all-docs file-uploads">
      <h5 class="title">All Documents:</h5>

      <div style="margin:auto">
        <h5 ng-hide="fileUploads" class="loading-msg">Your files are loading...please wait.</h5>
        <span ng-repeat="file in fileUploadsAffiliate" ng-click="downloadImgFull(file.data)" class="repeat-img">
          <span ng-click="removeDoc(file)" class="glyphicon glyphicon-remove"></span>
          <img ng-src="{{file.data | base64ToImgSrc}}"/><br />
          <figcaption>{{file.name}}</figcaption>
        </span><!--ngRepeat-->
      </div><!-- file-uploads-->

    </div>

  </div>
</div>
