<div class="employee portal" ng-init="getEmployees()">
  <div class="container">
    <h2>Select an Employee</h2>
    
    <ul>
      <li ng-repeat="employee in employees"><a ng-click="toggleEmployee(employee);employeeSelected = true">{{employee.firstName}} {{employee.lastName}}</a></li>
    </ul>
    
  </div>
  
  <div class="container employee-profile" ng-show="employeeSelected" ng-repeat="employee in employees | filter: {firstName: employeeSelected.firstName}" style="width:70%;border:3px solid white;border-radius:5px" >
    
    <h2 style="margin:0;font-size:35px">{{employee.firstName}} {{employee.lastName}}</h2>
    <h5 style="text-align:center">{{employee.position}}</h5>
    
    <div class="row mt-50">
      <div class="col-sm-3" style="height:200px;width:200px;border: 1px solid white">
        <!-- <img ng-src="{{assetsPath/X}}" class="img-responsive"/> -->
      </div>
      <div class="col-sm-offset-1 col-sm-8">
        <p>Bio:</p>
        <p>{{employee.bio}}</p>
      </div>
    </div><!--row-->
    
    <div class="row mt-50 mb-25">
      <h5>Uploaded Files</h5>
      <hr width="30">
      
      
      <!-- <button class="btn btn-lg pull-right" ng-click="emailEmployee(employee)">Contact {{employee.firstName}}</button> -->
      <button class="btn btn-lg pull-right" ui-sref="contact({contact: employee})">Contact {{employee.firstName}}</button>
    </div>
    
  </div>
</div>


<!-- -contact email (+hr ticket)
-edit profile (for person logged in)
-add/rm employee? (for admin-dashboard)
-how to read imgs -->