
<div class="find-your-itn" ng-init="catchAnchor()">
    
  <div class="jumbotron section first-hero" id="first-hero-find">
    <h1>Find your ITN Community</h1>
  </div>


  <div class="jumbotron section" id="find-community" style="background:white">
    <div class="container">
      <h2 class="mt-25 mb-50 ta-center">Find Your ITN Community</h2>
      <p><strong>ITN<em>America</em> is the only national senior transportation network. Our affiliates work in 13 communities across 12 states, from Maine to Florida to California. Our model is local, but our network is national, and with reach comes strength. Want to support the transportation needs of a family member 3,000 miles away? ITNs make it happen.</strong></p>
      
      <div class="row mt-50" style="font-weight:bold;font-size:25px;">
        <div class="col-sm-6">
          <img ng-src="{{assetsPath}}/images/icons/blue_pointer.png" width="28" height="38" alt="blue pointer for ITN affiliates" style="    margin-right:3%;"> ITN Affiliate
        </div>
        <div class="col-sm-6">
          <img ng-src="{{assetsPath}}/images/icons/orange_pointer.png" width="28" height="38"  alt="orange pointer for TTP" style="margin-right:3%;"> Trusted Transportation Partner (TTP)
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="jumbotron section map" style="padding:0">
      <div id="map" style="height:600px"></div>
      <!-- <Marker label="Hello" position= {{lat: 43.676373, lng: -70.366664}}> -->
  </div>
  

  <div class="jumbotron section" id="affiliates" style="background:white">
    <div class="container" style="color:#e05944;background:white">
      <h2 class="mt-25 mb-50 ta-center">ITN Affiliates</h2>
      <div class="row">
        <div class="col-sm-6">
          <ul style="list-style-type:none;font-weight:bold">
            <li><a href="http://www.itnbluegrass.com/" target="_blank">ITN<em>Bluegrass</em></a></li>
            <li><a href="http://www.itncentralct.org/" target="_blank">ITN<em>CentralCT</em></a></li>
            <li><a href="http://www.itncentraloklahoma.org/" target="_blank">ITN<em>CentralOklahoma</em></a></li>
            <li><a href="http://www.itnlanier.org/" target="_blank">ITN<em>Lanier</em></a></li>
            <li><a href="http://www.itnlehighvalley.org/" target="_blank">ITN<em>LehighValley</em></a></li>
            <li><a href="http://www.itnmemphis.org/" target="_blank">ITN<em>Memphis</em></a></li>
            <li><a href="http://www.itnmontereycounty.org/" target="_blank">ITN<em>MontereyCounty</em></a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul style="list-style-type:none;font-weight:bold">
            <li><a href="http://www.itnnorthjersey.org/" target="_blank">ITN<em>NorthJersey</em></a></li>
            <li><a href="http://www.itnorlando.org/" target="_blank">ITN<em>Orlando</em></a></li>
            <li><a href="http://www.itnportland.org/" target="_blank">ITN<em>Portland</em></a></li>
            <li><a href="http://www.itnsoutherndelaware.org/" target="_blank">ITN<em>SouthernDelaware</em></a></li>
            <li><a href="http://www.itngateway.org/" target="_blank">ITN<em>Gateway</em></a></li>
            <li><a href="http://www.itnsuncoast.org/" target="_blank">ITN<em>Suncoast</em></a></li>
          </ul>
        </div>
      </div><!--row-->
    </div><!--container-->
  </div><!--affiliates-->

  <div class="jumbotron section" id="find-affiliates" style="background:#e05944;color:white">
    <div class="container ta-center">
      <h2 class="mt-25 mb-50">Become an ITN Affiliate</h2>
      <p>ITN brings sustainable, dignified transportation to communities across the country. We partner with local individuals or organizations interested in using our time-tested, supported model to their community. With ITN<em>America</em>’s guidance and expertise, a dedicated group can build a nonprofit senior transportation system anywhere. And by plugging into the ITN network, the benefits of membership — ride credits, CarTrade, Healthy Miles, Road Scholarships, Personal Transportation Accounts, and more — are magnified. Want to become part of the ITN family?<p> 
        <a class="btn btn-lg" ui-sref="contact" style="padding:20px 30px;margin-top:40px"> > Contact us.</a>
    </div>
  </div>

  <div class="jumbotron section" id="itn-country">
    <div class="container ta-center">
      <h2 class="mt-25 mb-50">ITNCountry Communities</h2>
      <p><strong>ITN<em>Country</em> is now working with a handful of specially selected communities to pilot test a new on-line learning system for small and rural communities. These are partner cities and towns that struggle to support sustainable community transportation services. But through ITN<em>Country</em>, they gain access to the same model programs that work in larger, higher density locations. This is the first step to launching ITN<em>Country</em> nationally.</strong></p>
        <a class="btn btn-lg" href="http://www.itncountry.org" target="_blank" style="padding:20px 30px;margin-top:40px"> > Find out more.</a>
    </div>
  </div>


</div><!--find-your-itn-->



<script type="text/javascript">

console.log('beg js script ');

  var itn1 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnportland.org/">ITN<em>Portland</em></a></h2>' + 
      '<p>One Westbrook Common, Suite 3 </p><p> Westbrook, Maine 04092</p>' +
      '<p>(207) 854-0505</p>' + '</div>', 43.676373, -70.366664];
  var itn2 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnmontereycounty.org/">ITN<em>MontereyCounty</em></a></h2>' + 
      '<p>5 Harris Court, Building A</p><p>Monterey, CA 93940-5750</p>' +
      '<p>(831) 233-3447</p>' + '</div>', 36.579623, -121.819117];
  var itn3 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itncentraloklahoma.org/">ITN<em>CentralOklahoma</em></a></h2>' + 
      '<p>313 N.E. 50th St. </p><p>Oklahoma City, OK 73105</p>' +
      '<p>(405) 602-1558</p>' + '</div>', 35.522804, -97.506028];
  var itn4 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itngateway.org/">ITN<em>Gateway</em></a></h2>' + 
      '<p>(ITN-SC) 17 Point West Blvd., Suite A</p><p>St. Charles, MO 63301</p>' + '<p>(636) 329-0888</p>' + 
      '<p>(ITN-SL) 1819 Clarkson Road, Suite 200</p><p>1819 Clarkson Road, Suite 200</p>' + '<p>(314) 724-2117</p>' + 
      '</div>', 38.793355, -90.557354];
  var itn5 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnsuncoast.org/">ITN<em>Suncoast</em></a></h2>' + 
      '<p>1226 N. Tamiami Trail, Suite 300</p><p>Sarasota, FL 34236</p>' +
      '<p>(941) 364-7530</p>' + '</div>', 27.349070, -82.546420];
  var itn6 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnlehighvalley.org/">ITN<em>LehighValley</em></a></h2>' + 
      '<p>35 E. Elizabeth Ave Suite 20A</p><p>Bethlehem, PA 18018</p>' +
      '<p>(610) 419-1645</p>' + '</div>', 40.631200, -75.376650];
  var itn7 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnmemphis.org/">ITN<em>Memphis</em></a></h2>' + 
      '<p>561 South Prescott Street</p><p>Memphis, TN 38111</p>' +
      '<p>(901) 833-7666</p>' + '</div>', 35.104670, -89.948774];
  var itn8 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnnorthjersey.org/">ITN<em>NorthJersey</em></a></h2>' + 
      '<p>205 Hillcrest Avenue</p><p>Wyckoff, NJ 07841</p>' +
      '<p>(201) 398-6885</p>' + '</div>', 40.988746, -74.155719];
  var itn9 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnsoutherndelaware.org/">ITN<em>SouthernDelaware</em></a></h2>' + 
      '<p>24855 Broadkill Rd.</p><p>Milton, DE 19968</p>' +
      '<p>302-448-8486</p>' + '</div>', 38.789576, -75.304623];
  var itn10 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnbluegrass.org/">ITN<em>Bluegrass</em></a></h2>' + 
      '<p>1206 N Limestone Street</p><p>Lexington, KY 40505</p>' +
      '<p>(859) 252-8665</p>' + '</div>', 38.061127, -84.475547];
  var itn11 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnorlando.org/">ITN<em>Orlando</em></a></h2>' + 
      '<p>988 Woodcock Road Suite 200</p><p>Orlando, FL 32803</p>' +
      '<p>(407) 228-7761</p>' + '</div>', 28.557534, -81.344281];
  var itn12 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itnlanier.org/">ITN<em>Lanier</em></a></h2>' + 
      '<p>PO Box 1183</p><p>Gainesville, GA 30503</p>' +
      '<p>(678) 696-0360</p>' + '</div>', 34.289510, -83.813800];
  var itn13 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.itncentralct.org/">ITN<em>CentralCT</em></a></h2>' + 
      '<p>50 South Main St.</p><p>West Hartford, CT 06107</p>' +
      '<p>(860) 346-RIDE (7433)</p>' + '</div>', 41.758635, -72.741714];
  
  
  var itn14 = ['<div id="marker-label">' + 
      '<h2><a href="http://brooklinecan.org/">Brookline Community Aging Network</a></h2>' + 
      '<p>93 Winchester St</p><p>Brookline, MA 02446</p>' +
      '</div>', 42.343580, -71.127816];
  var itn15 = ['<div id="marker-label">' + 
      '<h2><a href="http://seniorservicesofalbany.com">Senior Services of Albany</a></h2>' + 
      '<p>32 Essex Street</p><p>Albany, NY 12206</p>' +
      '</div>', 42.677873, -73.779874];
  var itn16 = ['<div id="marker-label">' + 
      '<h2><a href="http://partnersincare.org">Partners in Care Maryland</a></h2>' + 
      '<p>8151-C Ritchie Hwy</p><p>Pasadena. MD 21122</p>' +
      '</div>', 39.124621, -76.585519];
  var itn17 = ['<div id="marker-label">' + 
      '<h2><a href="http://neighborride.org">Neighbor Ride</a></h2>' + 
      '<p>5570 Sterrett Place, Suite 102</p><p>Columbia, MD 21044</p>' +
      '</div>', 39.220749, -76.857833];
  var itn18 = ['<div id="marker-label">' + 
      '<h2><a href="http://fswp.org/services/interfaith-volunteer-caregiver-program">Family Services of Western Pennsylvania</a></h2>' + 
      '<p>6401 Penn Avenue</p><p>Pittsburgh, PA 15206</p>' +
      '</div>', 40.459067, -79.917259];
  var itn19 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.faithinactiongkv.com/">Faith in Action of the Greater Kanawha Valley</a></h2>' + 
      '<p>P.O. Box 11623</p><p>Charleston, WV 25339</p>' +
      '</div>', 38.349820, -81.632623];
  var itn20 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.blountcaa.org/">Blount County Community Action Agency</em></a></h2>' + 
      '<p>3509 Tuckaleechee Pike</p><p>Maryville, TN 37803</p>' +
      '</div>', 35.756257, -83.886218];
  var itn21 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.icareseniors.org/">I Care</em></a></h2>' + 
      '<p>300 East Ponce de Leon Avenue, Suite 313</p><p>Decatur, GA 30030</p>' +
      '</div>', 33.776327, -84.292285];
  var itn22 = ['<div id="marker-label">' + 
      '<h2><a href="https://cicoa.org/">CICOA</a></h2>' + 
      '<p>4755 Kingsway Drive, Suite 200</p><p>Indianapolis, IN 46205</p>' +
      '</div>', 39.844090, -86.120068];
  var itn23 = ['<div id="marker-label">' + 
      '<h2><a href="http://ridestc.org/">Senior Transportation Connection</a></h2>' + 
      '<p>4735 West 150th St., Ste. A</p><p>Cleveland, OH 44135</p>' +
      '</div>', 41.425844, -81.799376];
  var itn24 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.ivcinfo.org/">Interfaith Volunteer Caregivers</a></h2>' + 
      '<p>8075 Ritter Street</p><p>Center Line, MI 48015</p>' +
      '</div>', 42.480047, -83.025950];
  var itn25 = ['<div id="marker-label">' + 
      '<h2><a href="https://etsnw.org/">Escorted Transportation Service Northwest</a></h2>' + 
      '<p>1801 West Central Road</p><p>Arlington Heights, IL 60005</p>' +
      '</div>', 42.065478, -88.005011];
  var itn26 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.eraswaukesha.org/">ERAs Senior Network</a></h2>' + 
      '<p>210 NW Barstow Street, Suite 101</p><p>Waukesha, WI 53188</p>' +
      '</div>', 43.014577, -88.232312];
  var itn27 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.handi-wheels.org/">Handi-Wheels</a></h2>' + 
      '<p>2525 Broadway N. #002</p><p>Fargo, ND 58102</p>' +
      '</div>', 46.910701, -96.786479];
  var itn28 = ['<div id="marker-label">' + 
      '<h2><a href="https://srcaging.org/services/transportation/">Seniors Resource Center</a></h2>' + 
      '<p>3227 Chase St.</p><p>Denver, CO 80212</p>' +
      '</div>', 39.762845, -105.057157];
  var itn29 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.interlinkvolunteers.org/">Interlink</a></h2>' + 
      '<p>817 A 6th Street</p><p>Clarkston, WA 99403-2002</p>' +
      '</div>', 46.413839, -117.045312];
  var itn30 = ['<div id="marker-label">' + 
      '<h2><a href="https://rideconnection.org/">Ride Connection</a></h2>' + 
      '<p>9955 NE Glisan St</p><p>Portland, OR 97220</p>' +
      '</div>', 45.526528, -122.561137];
  var itn31 = ['<div id="marker-label">' + 
      '<h2><a href="https://whistlestop.org/">Whistlestop</em></a></h2>' + 
      '<p>930 Tamalpais Avenue</p><p>San Rafael, CA 94901</p>' +
      '</div>', 37.971918, -122.522976];
  var itn32 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.elderhelpofsandiego.org/">ElderHelp of San Diego</a></h2>' + 
      '<p>3860 Calle Fortunado Suite 101</p><p>San Diego, CA 92123</p>' +
      '</div>', 32.811934, -117.122707];
  var itn33 = ['<div id="marker-label">' + 
      '<h2><a href="http://northwestvalleyconnect.org/">Northwest Valley Connect</a></h2>' + 
      '<p>PO Box 9303</p><p>Surprise, AZ 85374</p>' +
      '</div>', 33.657298, -112.464908];
  var itn34 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.lendahandbouldercity.org/">Lend A Hand of Boulder City</a></h2>' + 
      '<p>400 Utah St.</p><p>Boulder City, NV 89005</p>' +
      '</div>', 35.979114, -114.832496];
  var itn35 = ['<div id="marker-label">' + 
      '<h2><a href="https://www.rsvpvolunteer.org/transportation-program">Central Iowa RSVP</a></h2>' + 
      '<p>503 Elm Avenue</p><p>Story City, IA 50248</p>' +
      '</div>', 42.186043, -93.594736];
  var itn36 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.volunteersinvt.org/one2one.php">Rutland Community Programs “One-2-One”</a></h2>' + 
      '<p>6 Court St</p><p>Rutland, VT 05701</p>' +
      '</div>', 43.607930, -72.975444];
  var itn37 = ['<div id="marker-label">' + 
      '<h2><a href="<a href="https://www.allianceyc.org/left-navigation/transportation/">Adult Resource Alliance of Yellowstone Count</a></h2>' + 
      '<p>1505 Avenue D</p><p>Billings, MT 59102</p>' +
      '</div>', 45.787336, -108.554241];
  var itn38 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.neseniors.org/">Northeast Seniors Inc. in Minneapolis, MN</a></h2>' + 
      '<p>900 42nd Ave NE #317</p><p>Columbia Heights, MN 55421</p>' +
      '</div>', 45.044337, -93.248030];
  var itn39 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.shepctrkville.com/TSC-services/transportation">Shepherd’s Center of Kernersville</a></h2>' + 
      '<p>431-B W. Bodenhamer St</p><p>Kernersville, NC 27285</p>' +
      '</div>', 36.129231, -80.079224];
  var itn40 = ['<div id="marker-label">' + 
      '<h2><a href="https://readyrides.org/">Ready Rides in Northwood, NH</a></h2>' + 
      '<p>P.O. Box 272</p><p>Northwood, NH 03261</p>' +
      '</div>', 43.194249, -71.150897];
  var itn41 = ['<div id="marker-label">' + 
      '<h2><a href="https://cjfsbham.org/transportation/">Collat Jewish Family Services in Birmingham, AL</a></h2>' + 
      '<p>3940 Montclair Rd, Suite 205</p><p>Birmingham, AL 35213</p>' +
      '</div>', 33.509214, -86.757235];
  var itn42 = ['<div id="marker-label">' + 
      '<h2><a href="https://driveasenior.org/">Drive a Senior Network</a></h2>' + 
      '<p>3005 S. Lamar Blvd., Suite D109 #435</p><p>Austin, TX 78704</p>' +
      '</div>', 30.241296, -97.783696];
  var itn43 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.eppsoncenter.org/">Eppson Center for Seniors</a></h2>' + 
      '<p>1560 N. 3rd St</p><p>Laramie, WY 82072</p>' +
      '</div>', 41.326519, -105.592598];
  var itn44 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.jfskc.org/jet-express/">Jewish Family Services of Greater Kansas City</a></h2>' + 
      '<p>5801 W. 115th St, Suite 103</p><p>Overland Park, KS</p>' +
      '</div>', 38.918087, -94.652679];
  var itn45 = ['<div id="marker-label">' + 
      '<h2><a href="https://gracefullyaging.org/">Neighbor to Neighbor of South Carolina</a></h2>' + 
      '<p>921 N. Kings Highway</p><p>Myrtle Beach, SC 29578</p>' +
      '</div>', 33.694643, -78.881473];
  var itn46 = ['<div id="marker-label">' + 
      '<h2><a href="https://www.rcptransit.com/">River Cities Public Transit</a></h2>' + 
      '<p>1600 East Dakota Ave</p><p>Pierre, SD 57501</p>' +
      '</div>', 44.358260, -100.330038];
  var itn47 = ['<div id="marker-label">' + 
      '<h2><a href="http://eastsidefriendsofseniors.org/">Eastside Friends of Seniors</a></h2>' + 
      '<p>1121 228th Ave SE</p><p>Sammamish, WA 98075</p>' +
      '</div>', 47.599576, -122.039324];
  var itn48 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.ccasfnm.org/center-for-community-involvement.html">Catholic Charities of Sante Fe</a></h2>' + 
      '<p>2010 Bridge Blvd SW</p><p>Albuquerque, NM 87105</p>' +
      '</div>', 35.065120, -106.687753];
  var itn49 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.bellavistacourtesyvan.com/">Bella Vista Courtesy Van</a></h2>' + 
      '<p>1801 Forest Hills Blvd, suite 120</p><p>Austin, TX 78704</p>' +
      '</div>', 36.461666, -94.300903];
  var itn50 = ['<div id="marker-label">' + 
      '<h2><a href="http://tscor.org">The Shepherd’s Center of Richmond</a></h2>' + 
      '<p>3111 Northside Ave #400</p><p>Richmond, VA 23228</p>' +
      '</div>', 37.604679, -77.491281];
  var itn51 = ['<div id="marker-label">' + 
      '<h2><a href="http://viste.org/">Volunteers in Service to the Elderly</a></h2>' + 
      '<p>1232 E. Magnolia</p><p>Lakeland, FL 33801</p>' +
      '</div>', 28.050010, -81.939564];
  var itn52 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.westfairrides.org/">Westfair Rides</a></h2>' + 
      '<p>487 East Main St suite 218</p><p>Mount Kisco, NY 10549</p>' +
      '</div>', 41.193594, -73.725858];
  var itn53 = ['<div id="marker-label">' + 
      '<h2><a href="https://www.southernrivol.org/">Southern Rhode Island Volunteers</a></h2>' + 
      '<p>100 Park Lane</p><p>Charlestown, RI 02813</p>' +
      '</div>', 41.367271, -71.663279];
  var itn54 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.sctupelo.org/">The Shepherd’s Center of Greater Tupelo</a></h2>' + 
      '<p>400 Jefferson St</p><p>Tupelo, MS 38802</p>' +
      '</div>', 34.259436, -88.708414];
  var itn55 = ['<div id="marker-label">' + 
      '<h2><a href="http://www.bossiercoa.org/">Bossier Council on Aging</a></h2>' + 
      '<p>706 Bearkat Drive</p><p>Bossier City, LA 71111</p>' +
      '</div>', 32.518487, -93.731678];
      
      
  var locationsAffiliates = [];
  var locationsTTP = [];
  
  for (i = 1; i < 14; i++) {  
    locationsAffiliates.push(eval('itn'+i))
  }
  for (i = 14; i < 56; i++) {  
    locationsTTP.push(eval('itn'+i))
  }

  function initMap() {
    // var myLatLng = {lat: 43.676373, lng: -70.366664};
    var myLatLng = {lat: 41.8781, lng: -87.6298};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4.5,
      center: myLatLng
      });


    var infowindow = new google.maps.InfoWindow();

    var marker, i;


    for (i = 0; i < locationsAffiliates.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locationsAffiliates[i][1], locationsAffiliates[i][2]),
        map: map,
        icon: 'assets/images/icons/blue_pointer.png'
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locationsAffiliates[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    };
    
    
    for (i = 0; i < locationsTTP.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locationsTTP[i][1], locationsTTP[i][2]),
        map: map,
        icon: 'assets/images/icons/orange_pointer.png'
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locationsTTP[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    };
    
    
  }
</script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPl0CQZe2FpgGzGj0KyFo08JAj-WBKvlc&callback=initMap">
</script>
