<div class="important-docs portal" ng-init="catchDocFilter();fetchImages('America')">

  <div class="container">
    <h2>Important Documents</h2>
    <h3 style="margin-top:-50px">Filter: {{docFilter}}</h3>
    
    <div class="upload-doc" ng-show="docFilter === 'upload' || docFilter === null">


      <button class="button" class="btn btn-lg" ngf-select="upload($file)">Upload on file select</button>

      <div class="file-uploads">
        
        <div ng-repeat="file in fileUploads" class="border-white">
          <h5>{{file.name}}</h5>
          <!-- <p>{{file.data}}</p> -->
          <p>
            Img src:<br>
            <img ng-src="{{file.data | base64ToImgSrc}}"/>
          </p>
        </div>
        
        
        <!-- <table class="table table-striped table-responsive">
          <thead>
            <th></th>
          </thead>
          
          <tbody>
            <td></td>
          </tbody>
        </table> -->
      </div>
      
    </div>
    
    
    
    <div class="all-docs" ng-show="docFilter === null">
      All docs (ng repeat)
    </div>
    
    <div class="training-docs" ng-show="docFilter === 'training'">
      Training docs (ng repeat filter)
    </div>
    
    
  </div>
</div>

<div class="back-btn-wrap">
  <a ui-sref="human-resources" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ui-sref="portal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>
