<div class="important-docs portal" ng-init="catchDocFilter();getCommentsPhotoPerAffiliate('America')">
  <div class="container ta-center">

    <h2>Document Library</h2>
    <h5 ng-show="docFilter && docFilter !== 'upload'" style="margin-top:-50px"><em>Filter: {{docFilter}} documents</em></h5>

    <div class="upload-doc" style="padding:3%">
      <button type="button" class="btn btn-lg" ngf-select="upload($file, 'America')">Upload a Document</button>
    </div><!--upload-doc-->

<!-- <button type="button" class="btn btn-sm" ng-click="filterDocLibrary()"><em>Filter by category</em></button> -->
    <div class="all-docs file-uploads">
      <h5 class="title">All Documents:</h5>
      
      <h5 ng-hide="fileUploadsAffiliate" class="loading-msg">Your files are loading...please wait.</h5>
      <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>

      <div style="margin:auto">
        <span ng-repeat="file in fileUploadsAffiliate" ng-click="downloadImgFull(file.data)" class="repeat-img">
          <span ng-click="removeFile(file, 'America')" class="glyphicon glyphicon-remove"></span>
          <img ng-src="{{file.data | base64ToImgSrc}}"/><br />
          <figcaption>{{file.name}}</figcaption>
        </span><!--ngRepeat-->
      </div><!-- file-uploads-->

    </div>


    <div class="training-docs" ng-show="docFilter === 'training'">
      <h5 class="title">Training Documents:</h5>

      <div style="margin:auto">
        <span ng-repeat="file in fileUploads | filter: {}" ng-click="downloadImgFull(file.data)" class="repeat-img">
          <img ng-src="{{file.data | base64ToImgSrc}}"/><br />
          <figcaption>{{file.name}}</figcaption>
        </span><!--ngRepeat-->
      </div><!-- file-uploads-->

    </div><!--training-docs-->


  </div><!--container-->
</div><!--important-docs-->



<div class="back-btn-wrap">
  <a ui-sref="important-docs-landing" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ui-sref="portal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>
