<div class="important-docs portal" ng-init="catchDocFilter();getCommentsPhotoPerAffiliate('America')">
  <div class="container ta-center">

    <h2>Document Library</h2>
    <h5 ng-show="docFilter && docFilter !== 'upload'" style="margin-top:-50px"><em>Filter: {{docFilter}} documents</em></h5>

    <div class="upload-doc">
      <button type="button" class="btn btn-lg" ngf-select="upload($file, 'America')">Upload a Document</button>
    </div><!--upload-doc-->

    <div class="all-docs file-uploads">
      <h5 class="title">All Documents:</h5>

      <div class="dropdown" style="color:black;float:left;margin-left:2%">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Filter by category
        <span class="caret"></span></button>
        <ul class="dropdown-menu" style="font-size:16px;margin-left: 40%">
          <li ng-repeat="category in fileCategories"><a ng-click="assignFileCategoryFilter(category)" ng-class="{'no-border': $last}">{{category.name}}</a></li>
        </ul>
      </div>

      <h5 ng-show="hideLibrary" class="loading-msg" style="clear:both"><em>{{serverMessage}}</em></h5>

      <div style="margin:auto;clear:both" ng-hide="hideLibrary">
        <span ng-repeat="file in fileUploadsAffiliate | filter: fileCategoryFilter.name" ng-click="downloadImgFull(file.data)" class="repeat-img">
          <span ng-click="removeFile(file, 'America')" class="glyphicon glyphicon-remove" style="margin-left:97%;cursor:pointer"></span>
          <img ng-src="{{file.data | base64ToImgSrc}}"/><br />
          <figcaption><em>Name:</em>{{file.name}}</figcaption>
          <figcaption style="float:left"><em>Category:</em> {{file.category}}</figcaption>

          <div class="dropdown" style="color:black;float:left;margin-top:-12px;margin-left:2%">
            <button class="btn btn-secondary dropdown-toggle" style="padding:1px 6px;font-size:12px;" type="button" data-toggle="dropdown">Change
            <span class="caret"></span></button>
            <ul class="dropdown-menu" style="font-size:16px">
              <li ng-repeat="category in fileCategories"><a ng-click="addCategory(file, 'America', category)" ng-class="{'no-border': $last}">{{category.name}}</a></li>
            </ul>
          </div>
        </span><!--ngRepeat-->
      </div><!-- file-uploads-->

    </div>


    <div class="training-docs" ng-show="docFilter === 'training'">
      <h5 class="title">Training Documents:</h5>

      <div style="margin:auto">
        <span ng-repeat="file in fileUploads | filter: {}" ng-click="downloadImgFull(file.data)" class="repeat-img">
          <img ng-src="{{file.data | base64ToImgSrc}}"/><br />
          <figcaption>{{file.name}}</figcaption>
        </span><!--ngRepeat-->
      </div><!-- file-uploads-->

    </div><!--training-docs-->


  </div><!--container-->
</div><!--important-docs-->



<div class="back-btn-wrap">
  <a ui-sref="important-docs-landing" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ui-sref="portal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>
