<div class="portal itn-services" ng-show="showPortal" ng-init="getCommentsPhoto()">
  <div class="container">
    
    <h2>ITN Services</h2>
    
    <div class="row mt-50 mb-25">
      
      <div class="col-md-6">
        <a ui-sref="human-resources">
          <div class="block">
            <h3 style="margin-top:70px">Human Resources</h3>
            <!-- file import, important doc, kt manual -->
          </div>
        </a>
      </div>
      
      <div class="col-md-6">
        <a ng-click="openAdditionalPage('allComments')">
          <div class="block">
            <h3 style="margin-top:80px;font-size:30px">Company-wide Announcements</h3>
          </div>
        </a>
      </div>
      
    </div><!--row-->
    
    
    <div class="row mt-25 mb-25">
      
      <div class="col-md-6">
        <a ui-sref="calendar">
          <div class="block">
            <h3 style="margin-top:70px">Calendar & Events</h3>
          </div>
        </a>
      </div>
      
      <div class="col-md-6">
        <a href="#">
          <div class="block">
            <h3>Learn Online</h3>
          </div>
        </a>
      </div>
      
    </div><!--row-->

    
  </div>
</div>

<div class="portal comments" ng-show="allComments">
  <div class="container-fluid ta-center">
    <h2>Company-wide Comments & Announcements</h2>
    
    
    
    <div class="row mt-50 mb-50">
      <div class="col-md-2"></div>
      
      <div class="col-md-8">
        <h5 class="mb-25" style="display:inline-block">Comments</h5>
        
        
        
        <div class="row" ng-show="showCommentInput">
          
              <div class="form-area mb-50" style="background: #c7dfe4;border:none;padding:1%;border-radius:5px"> 
                <form name="itnForm" novalidate ng-submit="addComment(formData, {name: affiliateOfComment}); showCommentInput = false" role="comment form" ng-model="formData" style="padding:2%;margin:0 5%">
                  <h3 style="margin-bottom: 25px; text-align: center">Add a new comment</h3>
                  {{affiliateOfComment}}
                          
                  <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.author" required>
                    <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                    <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                    <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                  </div>
                  
                  <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                    <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.message" required></textarea>
                    <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                    <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                    <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                      <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                  </div>
                  
                  <p ng-if="loading"><em>Loading. Please wait</em></p>
                  <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
                    
                  <input type="submit" id="submit" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%;margin-top:-50px">
                  <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%;margin-top:-50px">
                
                </form>
              </div> <!-- form-area-->
    
        </div><!--row-->
        
        
        
        <table class="table table-responsive table-bordered table-hover" style="font-size:25px;font-weight:bold;margin:auto">
          <thead>
            <tr>
              <th class="ta-center">Affiliate Name</th>
              <th class="ta-center">Comment</th>
              <th>Add Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="commentPhoto in commentsPhoto|orderBy:sortKey:reverse|itemsPerPage:10|reverse" pagination-id="comments">
              <td style="width:20%">ITN<em>{{commentPhoto.name}}</em></td>
              <td>
                
                <div ng-repeat="comment in commentPhoto.comments" class="comments-for-each">
                  {{comment.message}}
                  <button type="button" class="btn btn-danger btn-sm" style="margin-left:5%" ng-click="askBeforeDeleteComment({name:comment}, comment)" data-toggle="tooltip" title="Delete Comment">
                   <span class="glyphicon glyphicon-trash"></span>
                 </button>
                  <h6 style="text-align:center;font-size:15px"><em>-by {{comment.author}}</em></h6>
                  <hr style="text-align:center;margin:5px auto" width="30%">
                </div>
                
              </td>
              <td style="width:20%">
                <button class="btn btn-sm" ng-click="showCommentInput = true; affiliateOfComment =  commentPhoto.name" style="background:#cc6257;float:right;margin-top:10px">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <dir-pagination-controls
          pagination-id="comments"
           max-size="5"
           direction-links="true"
           boundary-links="true" >
        </dir-pagination-controls>
        
      </div><!--col-md-8-->
      
      <div class="col-md-2"></div>
      
    </div><!--row-->
    
    

  </div>
</div>



<div class="back-btn-wrap">
  <a ng-click="openAdditionalPage()" ng-hide="showPortal" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ng-click="openAdditionalPage('portal')" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>





<!-- Modal -->
<div class="modal fade" id="deleteAppModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content" style="font-size:25px">
    <div class="modal-header" style="background:#529ba8;color:white">
      <h3 class="modal-title" id="exampleModalLabel">Delete form submission</h3>
      <button type="button" style="margin-top: -30px" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group ta-center">
          <label for="delete app confirmation" style="margin-bottom:15px">Are you sure you would like to delete this form?</label>
        </div> 
    </div>
    <div class="modal-footer">
      <button type="button" ng-click="deleteComment();hideModal('deleteAppModal')" class="btn btn-lg btn-danger" style="background:#e05944">Delete</button>
      <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal" aria-label="Cancel">Cancel</button>
    </div>
  </div>
</div>
</div><!--end modal-->

