<div class="mrc" style="font-size:25px;line-height:1.7">
  <div class="jumbotron section first-hero" id="first-hero-mrc">
    <h1>Celebrating One Million Rides</h1>
    <h3>Photo Album 2018</h3>
  </div>
  
  <div class="container-fluid" style="background:rgb(175, 202, 206);float:left;padding:5%;">
    
    <div class="intro ta-center mt-100 mb-100" style="background:white;margin:auto;width:80%;padding:3%">
      <p style="font-weight:bold">We've reached 1 Million!</p>

      <p>After more than two decades serving older people and visually challenged people across the country, the ITN Nationwide Network gave its 1 millionth ride this month, May 2018. A million errands run, friends visited, appointments kept. It's a remarkable milestone, the result of dedicated work from thousands of community members nationwide. We offer a million thanks to our members, donors, drivers, board members, volunteers and staff. Every one of them is a part of ITN’s success.</p>

      <p>In recognition of this remarkable achievement, the U.S. Senate recognized ITNAmerica for our years of work supporting lifelong mobility. Senators Susan Collins and Angus King came to our offices in Westbrook, Maine, to present ITN founder Katherine Freund with an official copy of the resolution honoring the organization she has spent decades building. One million rides, and it is only a start.</p>

      <p>It is good to dream big. It is even better to make it happen.</p>
    </div><!--intro-->
    
    <div class="row">
      <div class="itn-title mb-100">
        <h2>Photo Gallery</h2>
        <hr align="left" width="35%">
      </div><!--itn-title-->
      
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/cakes.JPG" alt="images of million rides campaign custom cakes"/>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/SenatorsPic.png" alt="image of kat accepting award from maine senators"/>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/mrcstage2.JPG" alt="images of senator angus king speaking"/>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/cake2.JPG" alt="images of million rides campaign custom cake"/>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/mrcstage3.JPG" alt="images of senator susan collins speaking"/>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/susancrowd.jpg" alt="images of katherine, susan and some fans"/>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/seniors-eating.jpg" alt="images of ITN guests eating buffet"/>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/togetherness2.JPG" alt="images of katherine reading the award"/>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/cake1.JPG" alt="images of million rides campaign custom cake"/>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/sam-amar.JPG" alt="images of the ITN female developers" style="transform:rotate(180deg);"/>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/jean-cake.jpg" alt="images of Jean cutting the cakes"/>
      </div>
      <div class="col-sm-4">
        <img ng-src="{{assetsPath}}/images/MRC-2018/susan-sign.jpg" alt="images of senator susan collins signing the ITN board"/>
      </div>
    </div>
    
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FITNAmerica%2Fvideos%2F10156526495414171%2F&width=600&show_text=false&height=336&appId" width="600" height="336" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
    <figcaption>Katherine Freund thanks guests and donors.</figcaption>
    
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FITNAmerica%2Fvideos%2F10156525950084171%2F&width=600&show_text=false&height=336&appId" width="600" height="336" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
    <figcaption>ITNPortland volunteer Mike Luce explains just what it takes to drive for ITN</figcaption>
    
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FITNAmerica%2Fvideos%2F1472703056168890%2F&width=600&show_text=false&height=336&appId" width="600" height="336" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
    <figcaption>Ruth Burns from Regeneron talked about the impact of their work partnering with us</figcaption>
    
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FITNAmerica%2Fvideos%2F10156526059609171%2F&width=600&show_text=false&height=336&appId" width="600" height="336" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
    <figcaption>Senator Collins sharing her story of the difficulty finding transportation for her mother.</figcaption>
    
    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FITNAmerica%2Fvideos%2F10156526691304171%2F&width=600&show_text=false&height=336&appId" width="600" height="336" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
    <figcaption>Senator Angus King explains what it takes to change lives</figcaption>
    
  </div>
</div>