<div class="portal other" ng-show="showPortal">
  <div class="container">
    
    <h2>Other/Miscellaneous</h2>
    
    <div class="row mt-50 mb-25">
      
      <div class="col-md-4">
        <a href="http://www.itncountry.org">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/itnCountryLogo.png" alt="itncountry logo" style="margin-top:100px;height:50px"/>
          </div>
        </a>
      </div><!--col-md-4-->
      
      <div class="col-md-4">
        <a href="http://pressroom.itnamerica.org/">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/pressLogo.jpg" alt="itn pressroom logo" style="margin-top:100px;width:220px"/>
          </div>
        </a>
      </div><!--col-md-4-->
      
      <div class="col-md-4">
        <a href="http://policy.itnamerica.org/">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/50state.png" alt="50 state policy project website screenshot" style="margin-left:-45%;height:450px;width:450px;margin-top:0"/>
          </div>
        </a>
      </div><!--col-md-4-->
      
    </div><!--row-->
    
    
    <div class="row mt-25 mb-25">

      <div class="col-md-4">
        <a href="http://pressroom.itnamerica.org/">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/itnamerica-portal-logo.png" alt="itnamerica original portal logo" style="width:95%;margin-top:100px"/>
            <h5 style="color:#0057a7">Legacy Portal</h5>
          </div>
        </a>
      </div><!--col-md-4-->

      <div class="col-md-4">
        <a ui-sref="rides">
          <div class="block">
            <h3>Rides Data</h3>
          </div>
        </a>
      </div>
      
      <div class="col-md-4">
        <a ng-click="openAdditionalPage('analytics')">
          <div class="block">
            <h3 style="margin-top:80px;font-size:30px">Company-wide Analytics</h3><!--(add email to request access)-->
          </div>
        </a>
      </div><!--col-md-4-->
      
    </div><!--row-->
    
    
    <div class="row mt-25 mb-50">

      <div class="col-md-4"></div><!--col-md-4-->
      
      <div class="col-md-4">
        <a ng-click="" ng-disabled="true" style="pointer-events:none">
          <div class="block">
            <h3 style="color:grey">Archives</h3>
          </div>
        </a>
      </div>
      
      <div class="col-md-4"></div><!--col-md-4-->
      
    </div><!--row-->
    
  </div>
</div>

<div class="portal company-analytics" ng-show="analytics">
  <div class="container ta-center">
    <h2>Website Analytics</h2>
    
    <button id="loading-btn">Loading graph...</button>

    <div class="ga-wrap" style="display:block;width:80%;margin:auto">
      <section id="auth-button"></section>
      <section id="view-selector"></section>
      <section id="timeline"></section>
    </div>
  </div>
</div>



<div class="back-btn-wrap">
  <a ng-click="openAdditionalPage()" ng-hide="showPortal" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ng-click="openAdditionalPage('portal')" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>
  
  
  
  


<!-- Step 2: Load the library. -->

<script>
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
</script>

<script>
gapi.analytics.ready(function() {
  
  $('#loading-btn').css('display','none');

  // Step 3: Authorize the user.

  var CLIENT_ID = '633525844243-1r4ea74q27960sf6l7abko81l1o4tvoj.apps.googleusercontent.com';

  gapi.analytics.auth.authorize({
    container: 'auth-button',
    clientid: CLIENT_ID,
  });

  // Step 4: Create the view selector.

  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector'
  });

  // Step 5: Create the timeline chart.

  var timeline = new gapi.analytics.googleCharts.DataChart({
    reportType: 'ga',
    query: {
      'dimensions': 'ga:date',
      'metrics': 'ga:sessions',
      'start-date': '30daysAgo',
      'end-date': 'yesterday',
    },
    chart: {
      type: 'LINE',
      container: 'timeline'
    }
  });

  // Step 6: Hook up the components to work together.

  gapi.analytics.auth.on('success', function(response) {
    viewSelector.execute();
  });

  viewSelector.on('change', function(ids) {
    var newIds = {
      query: {
        ids: ids
      }
    }
    timeline.set(newIds).execute();
  });
});
</script>  
