<div class="portal" ng-show="showPortal">
  <div class="container">
    
    <h2>ITN Staff Portal</h2>
    
    <div class="row mt-50 mb-25">
      <div class="col-md-4">
        <a ui-sref="itnamerica">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/itnamerica-logo.png" alt="itnamerica logo" style="margin-top:100px"/>
          </div>
        </a>
      </div><!--col-md-4-->
      <div class="col-md-4">
        <a ui-sref="rides-in-sight">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/ris-lowres-logo.png" alt="rides in sight logo"  style="    margin-top:20px;height:190px;max-height:190px;width:auto;;margin-left:-41px"/>
          </div>
        </a>
      </div><!--col-md-4-->
      <div class="col-md-4">
        <a ng-click="openAdditionalPage('affiliateLanding')">
          <div class="block">
            <h3>ITN Affiliates</h3>
          </div>
        </a>
      </div><!--col-md-4-->
    </div><!--row-->
    
    <div class="row mb-50">
      <div class="col-md-4">
        <a ui-sref="itn-services">
          <div class="block">
            <h3>ITN Services</h3>
          </div>
        </a>
      </div><!--col-md-4-->
      <div class="col-md-4">
        <a ng-click="" ng-disabled="true" style="pointer-events:none;display:inline-block">
          <div class="block">
            <h3 style="color:grey">ITN Rides</h3>
          </div>
        </a>
      </div><!--col-md-4-->
      <div class="col-md-4">
        <a ui-sref="other">
          <div class="block">
            <h3>Other</h3>
          </div>
        </a>
      </div>
    </div>
    
  </div>
</div>



<div class="portal affiliateLanding" ng-show="affiliateLanding">
  <div class="container">
    <h2>ITN Affiliates</h2>
    
    <ul>
      <li ng-repeat="affiliate in affiliateList">
        <a ui-sref="affiliate({affiliate: {{affiliate}}})">ITN<em>{{affiliate}}</em></a>
      </li>
    </ul>
    
  </div>
</div>



<div class="back-btn-wrap">
  <a ng-click="openAdditionalPage()" ng-hide="showPortal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>
