<div class="portal ris" ng-show="showPortal">
  <div class="container">
    
    <h2>Rides In Sight</h2>
    
    <div class="row mt-50 mb-25">
      <div class="col-md-6">
        <a href="https://www.ridesinsight.org/">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/ris-lowres-logo.png" alt="rides in sight logo"  style="    margin-top:20px;height:190px;max-height:190px;width:auto;;margin-left:-41px"/>
          </div>
        </a>
      </div><!--col-md-6-->
      <div class="col-md-6">
        <a href="http://blog.ridesinsight.org/">
          <div class="block" style="background:white">
            <img ng-src="{{assetsPath}}/images/ris-blog-screenshot.png" alt="screenshot of rides in sight blog" id="ris-blog-img"/>
            <h5>The Blog</h5>
          </div>
        </a>
      </div><!--col-md-6-->
    </div><!--row-->
    
    <div class="row mt-25 mb-50">
      <div class="col-md-6">
        <a ng-click="openAdditionalPage('social')">
          <div class="block social-icons">
            <h3 style="font-size:30px;margin-top:60px">Social Media Presence</h3>
          </div>
          </a>
      </div><!--col-md-6-->
      <div class="col-md-6">
        <a ng-click="openAdditionalPage('events')">
          <div class="block">
            <h3 style="font-size:30px;margin-top:60px">Events & Announcements</h3>
          </div>
          </a>
      </div><!--col-md-6-->
    </div>


  </div>
</div>


<div ng-show="social" class="portal social">
  <div class="container">
    <h2>Social Media Presence</h2>
    
    <div class="row mt-50 mb-25 ta-center">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <a href="https://www.facebook.com/RidesInSight"><div class="col-sm-3 social-icon-border fb">
          <i class="fa fa-facebook"></i>
        </div></a>
      </div>
       <div class="col-sm-3">
        <a href="https://twitter.com/ridesinsight"><div class="col-sm-3 social-icon-border tw">
          <i class="fa fa-twitter"></i>
        </div></a>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>

<div ng-show="events" class="portal events ta-center">
  <div class="container">
    <h2>Events & Announcements</h2>
    <ul>
      <!-- <li>
        <a href="http://itnretreat.org/"><strong>October 17-19 2018 - ITN Retreat 2018: Non-Profit Leadership</strong></a><br>
        ITN<em>America</em> HQ, Westbrook, ME
      </li> -->
    </ul>
  </div>
</div>


<div class="back-btn-wrap">
  <a ng-click="openAdditionalPage()" ng-hide="showPortal" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ng-click="openAdditionalPage('portal')" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>
  
