    <div class="timesheet portal" ng-init="parseAffiliateNameToList()">
      <div class="container-fluid">
        <h2>ITN<em>{{itnAffiliate.name}}</em> Timesheet</h2>
        
        <ul class="nav nav-tabs">
          <li><a ui-sref="timesheet({day:0})">Day 0</a></li>
          <li><a ui-sref="timesheet({day:1})">Day 1</a></li>
          <li><a ui-sref="timesheet({day:2})">Day 2</a></li>
          <li><a ui-sref="timesheet({day:3})">Day 3</a></li>
          <li><a ui-sref="timesheet({day:4})">Day 4</a></li>
          <li><a ui-sref="timesheet({day:5})">Day 5</a></li>
          <li><a ui-sref="timesheet({day:6})">Day 6</a></li>
          <li><a ui-sref="timesheet({day:7})">Day 7</a></li>
          <li><a ui-sref="timesheet({day:8})">Day 8</a></li>
          <li><a ui-sref="timesheet({day:9})">Day 9</a></li>
          <li><a ui-sref="timesheet({day:10})">Day 10</a></li>
          <li><a ui-sref="timesheet({day:11})">Day 11</a></li>
          <li><a ui-sref="timesheet({day:12})">Day 12</a></li>
          <li><a ui-sref="timesheet({day:13})">Day 13</a></li>
          <li><a ui-sref="timesheet({day:14})">Day 14</a></li>
          <li><a ui-sref="timesheet({day:15})">Day 15</a></li>
        </ul>
        
      </div>
    </div>


