<div class="timesheet portal" ng-init="parseDayAndAffiliateParams();getTimesheets();parseParamsIfTimesheet();isNewTimesheet()">
    <div class="container-fluid recorded-timesheets">
      <h2>Timesheets for ITN<em>{{tsData.affiliate}}</em></h2>

        <a ui-sref="timesheet({filter: tsData.affiliate, viewNewTimesheet: true, test: 'goodbye'})"
           class="btn btn-lg"
           style="margin-left:60%;">
           Create New Timesheet
         </a>

        <a ui-sref="timesheet({filter: tsData.affiliate + '?day=' + timesheet.day, day: timesheet.day, timesheet: timesheet})"
           ng-repeat="timesheet in timesheets"
           style="display:block">
           Day {{timesheet.day}} | {{timesheet.date | date}}
        </a>

    </div>
</div>



<div class="back-btn-wrap">
  <a ui-sref="affiliate({filter: itnAffiliate.name})" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ui-sref="portal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>



    <!-- <ul class="nav nav-tabs">
      <li ng-repeat="timesheet in timesheets"><a ui-sref="timesheet({filter: tsData.affiliate + '?day=' + timesheet.day})">Day {{timesheet.day}}</a></li>
    </ul> -->
