<div class="timesheet portal" ng-init="parseAffiliateNameToList()">
  <div class="container" style="width:95%">
    <h2>ITN<em>{{itnAffiliate.name}}</em> Timesheet</h2>

    <div class="timesheet-card card">

      <form name="tsForm" novalidate ng-submit="submitTimesheet()" role="timesheet form" ng-model="tsData" ng-hide="submitted">

        <p class="title">Driver Information<p>

        <div class="rates">
          Mileage rate: ${{tsData.rates.mileageRate}}<br />
          After-hours daily rate: ${{tsData.rates.dailyRate}}<br />
          Weekly: ${{tsData.rates.weeklyRate}}
        </div>

        <div class="row semi-white-bg">

          <div class="col-sm-6 form-group">
            <label for="driver name">Enter name: <span style="color:red">*</span></label><br>
            <input type="text" class="form-control" name="driverName" ng-model="tsData.name" ng-minlength="minlength" ng-maxlength="maxlength">
          </div>

          <div class="col-sm-3 form-group">
            <label for="date">Date: <span style="color:red">*</span></label><br>
            <input type="date" class="form-control" name="date" ng-model="tsData.date" style="display:inline-block">
          </div>
          <!-- answer: {{tsData.date | date : "dd-MM-y" }}   -->

          <div class="col-sm-3 form-group" style="margin-top:80px">
            <label for="lunchtime taken">Lunch taken? <span style="color:red">*</span></label>
            <input type="checkbox" name="tookLunch" value="true" ng-model="tsData.tookLunch" style="width:20px;height:20px">
          </div>

      </div>



        <div class="shifts">
          <p class="title">Start/Stop Shifts <i class="fa fa-plus-circle" ng-click="addShift()"></i><p>

          <div class="each-shift" style="background:grey;padding:5px">
            <table class="table table-responsive">
              <thead>
                <th style="15%">Shift #</th>
                <th>Start</th>
                <th>Stop</th>
                <th>Miles Driven</th>
                <th>Add note</th>
                <th>Delete</th>
              </thead>
              <tbody ng-repeat="shift in tsData.shifts">
                <td style="width:15%;font-size:25px">{{$index + 1}}</td>

                <td>
                  <div class="dropdown ta-center">
                    <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Pick Start Time
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" aria-labelledby="timepicker dropdown">
                      <li ng-repeat="time in timesForPicker">
                        <a ng-click="updateStartTime(time, shift, $parent.$index)" ng-class="{'no-border': $last}">{{time}}</a>
                      </li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown ta-center">
                    <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Pick End Time
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" aria-labelledby="timepicker dropdown">
                      <li ng-repeat="time in timesForPicker">
                        <a ng-click="updateEndTime(time, shift, $parent.$index)" ng-class="{'no-border': $last}">{{time}}</a>
                      </li>
                    </ul>
                  </div>
                </td>

                <td><input style="width:80%;text-align:center;border-radius:5px" type="number" min="0" max="100" ng-model="shift.milesPerShift">
                </td>

                <td class="show-note">
                  <i class="fa fa-plus-circle" style="padding-top:15px" ng-click="toggleNote($index)" ng-show="!showNote[$index]"></i>

                  <div ng-show="showNote[$index]">
                    <textarea class="form-control" type="textarea" name="note" id="note" placeholder="Message" maxlength="2000" rows="3" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="shift.note"></textarea>
                    <i class="fa fa-minus-circle" ng-click="toggleNote($index)"></i>
                  </div>
                </td>
                <td><i class="fa fa-trash" ng-click="removeShift(shift, $index)"></i></td>
              </tbody>
            </table>
          </div>
        </div><!--shifts-->







        <div class="formBtns" style="margin-top:20px">
          <button type="button" ng-click="tsData = {}" class="btn btn-lg btn-primary pull-left itn-green-bg"  style="margin-left:2%">Reset Form</button>
          <button type="submit" ng-disabled="itnForm.$invalid || loading" class="btn btn-lg pull-right btn-danger" style="background:#e05944; margin-left:2%">Submit</button>
        </div>


      </form>
    </div><!--timesheet-card-->

  </div>
</div>

<div class="back-btn-wrap" style="margin-top:10px">
  <a ui-sref="affiliate({filter: itnAffiliate.name})" class="back-btn">
    <h3>Back to Previous Page</h3>
  </a>
  <a ui-sref="portal" class="back-btn">
    <h3>Back to Portal</h3>
  </a>
</div>






        <!-- <div class="form-group">
          <label class="checkbox-inline">Lunchtime taken?
            <input type="checkbox" value="yes" name="tookLunch" ng-model="formData.tookLunch"></label>
        </div>answer: {{tsData.tookLunch}} -->

        <!-- <div class="form-group">
          <label for="date">Date2: <span style="color:red">*</span></label><br>
          <input type="text" class="form-control" name="date2" placeholder="Example: mm/dd/yyyy" ng-model="tsData.date2" ng-pattern="dobPattern">
        </div>
        answer: {{tsData.date2}} -->
