    <div class="timesheet portal" ng-init="parseAffiliateNameToList()">
      <div class="container-fluid">
        <h2>ITN<em>{{itnAffiliate.name}}</em> Timesheet</h2>
        
        <ul class="nav nav-tabs">
          <li><a ui-sref="timesheet({})">Day 0</a></li>
          <li><a ui-sref="timesheet({})">Day 1</a></li>
          <li><a ui-sref="timesheet({})">Day 2</a></li>
          <li><a ui-sref="timesheet({})">Day 3</a></li>
          <li><a ui-sref="timesheet({})">Day 4</a></li>
          <li><a ui-sref="timesheet({})">Day 5</a></li>
          <li><a ui-sref="timesheet({})">Day 6</a></li>
          <li><a ui-sref="timesheet({})">Day 7</a></li>
          <li><a ui-sref="timesheet({})">Day 8</a></li>
          <li><a ui-sref="timesheet({})">Day 9</a></li>
          <li><a ui-sref="timesheet({})">Day 10</a></li>
          <li><a ui-sref="timesheet({})">Day 11</a></li>
          <li><a ui-sref="timesheet({})">Day 12</a></li>
          <li><a ui-sref="timesheet({})">Day 13</a></li>
          <li><a ui-sref="timesheet({})">Day 14</a></li>
          <li><a ui-sref="timesheet({})">Day 15</a></li>
        </ul>
        
      </div>
    </div>


