<div class="ways-to-give">
  <div class="jumbotron section .first-hero" id="first-hero-ways">
    <h1>Ways to Give</h1>
  </div><!--first-hero-->
  
    
  <div class="jumbotron section" style="background:white;margin-bottom: -50px !important;">
    <div class="container service-features">
      <h2 style="font-size:40px">Ways to Give</h2>
      <p class="mt-25-mb-100"><strong>ITNAmerica relies on community support and the generosity of those who believe as we do that every person should have access to affordable, dignified transportation. If you support our mission and the work we do to promote the lives of older people everywhere, please give. There are a number of ways to do it.</strong></p>

      
      <div class="row mt-25" style="margin-top:5%">
        <div class="col-md-4">
          <div class="icon-wrap"><img ng-src="{{assetsPath}}/images/icons/icon_check.png" alt="icon of a check"></div>
          <div class="icon-legend">
            <h3 style="color:#3c68b3">Donate</h3>
            Want to help us as we support mobility for older people so they can live healthy, full, complete lives? Click below to donate.
            <p class="mt-50">
              <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=UWN88Z7597L9E">
                <img src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_donate_pp_142x27.png" class="ta-center" style="height:40px"/>
              </a>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-wrap"><img ng-src="{{assetsPath}}/images/icons/drive_icon.png" alt="icon of a road"></div>
          <div class="icon-legend">
            <h3 style="color:#3c68b3">Volunteer</h3>
            ITNs are built on community support. Become part of the solution: Volunteer as a driver with your local affiliate, work in the office, help with events or answer phones. Or contact ITNAmerica to start an ITN of your own. It not only supports your community, but working with older people carries a meaning all its own. Sign up now. <br>
            <a ui-sref="contact">Sign up now.</a>
          </div>
        </div>
        <div class="col-md-4" data-wow-delay="2s">
          <div class="icon-wrap"><img ng-src="{{assetsPath}}/images/icons/icon_cartrade.png" alt="icon of a car"></div>
          <div class="icon-legend">
            <h3 style="color:#3c68b3">Donate Your Car</h3>
            Do you have a car you don’t use? Do you want to support senior mobility? Consider making a tax deductible gift of your vehicle to your local ITN affiliate. They can turn your old car into arm-through-arm, door-through-door service for your local community. Go to the Find Your Affiliate page and click on your local ITN to learn more. Or you can donate your car to ITNAmerica to help support our efforts to help older people and their families across the nation.<br>
            <a ui-sref="find-your-itn">Find Your Affiliate</a>
          </div><!--icon-legend-->
        </div><!--col-md-4-->
      </div><!--row-->
      
      
      <div class="row mt-50">
        <div class="col-md-4">
          <div class="icon-wrap"><img ng-src="{{assetsPath}}/images/icons/hands_icon.png" alt="icon of a black and white hands shaking"></div>
          <div class="icon-legend">
            <h3 style="color:#3c68b3">Family Support</h3>
            ITNAmerica makes it easy for family members to stay involved in the lives of their older loved ones, even if they face the difficulty of distance. Want to support a family member who lives hours away? Drive for your local ITN affiliate, and transfer your earned credits to your loved one. Or join as a dues paying member, donate a car, make a donation (in cash or in stock) or help with community fundraisers and become part of the senior transportation solution.<br>
            <a ui-sref="about">Sign up now.</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-wrap"><img ng-src="{{assetsPath}}/images/icons/icon_office.png" alt="icon of an office chair"></div>
          <div class="icon-legend">
            <h3 style="color:#3c68b3">Corporate Partners</h3>
            ITNAmerica has a long history of working with companies that share our dedication to older people and supporting their quality of life through mobility. Our current sponsor, Regeneron Pharmaceuticals, Inc., is committed to helping raise awareness of the challenges associated with vision impairment, low vision, senior mobility issues and the shortage of locally-available transportation options for seniors. We partner with them on the Rides in Sight database and toll free hotline, providing information on more than 15,000 transportation options in all 50 states. This is but one of the corporate opportunities at ITNAmerica. Contact us if your business would like to be part of the senior transportation solution.<br>
            <a ui-sref="contact">Contact Us for Corporate Sponsorship Opportunities.</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-wrap"><img ng-src="{{assetsPath}}/images/icons/present_icon.png" alt="icon of a present"></div>
          <div class="icon-legend">
            <h3 style="color:#3c68b3">Planned Gifts</h3>
            Create a lasting legacy with ITNAmerica through planned giving. Your will or trust can support our mission and work for years to come. It’s one of the simplest and most lasting ways to make an enduring difference for older people and their families. You can designate all or a portion of your bequest to ITNAmerica, or you can split your support between ITNAmerica and your local ITN affiliate. Support the organizations working to support you; make a planned gift to ITN.<br>
            <a ui-sref="contact">Contact us to learn more.</a>
          </div><!--icon-legend-->
        </div><!--col-md-4-->
      </div><!--row-->
      
      <div class="row mt-50">
        <div class="col-md-4">
          <div class="icon-wrap"><img ng-src="{{assetsPath}}/images/icons/icon_board.png" alt="icon of a board"></div>
          <div class="icon-legend">
            <h3 style="color:#3c68b3">Become a Supporting Member</h3>
            Supporting membership is for anyone who has experienced the need for better senior transportation. If an older person you know or love—a parent, a grandparent, a spouse, friend or sibling—has needed help with transportation, supporting ITNAmerica with your membership is real way to support solutions, for those you love, and for others in need. Yearly membership helps ITNAmerica with all aspects of the work we do, from our affiliate network to our research and education around senior mobility. Join because you want to be a part of ITN, to further our mission and be a part of an organization laying the groundwork for a sustainable transportation future. Supporting membership is open to everyone. Be a part of the senior transportation solution.<br>
            <a ui-sref="become-a-supporting-member">Sign up now.</a>
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div><!--row-->

    </div><!--jumbo-->
      

</div>